.Iphone6 {
  height: 70%;
  width: 60%;
  background: linear-gradient(#ec1515, #e27b36);
  border-radius: 20px;
  box-shadow: inset -5px 0 #c15711;
  margin: 2% auto;
  position: relative;
}

.Iphone7 {
  height: 75%;
  width: 65%;
  background: linear-gradient(#85e650, #abe236);
  border-radius: 20px;
  box-shadow: inset -5px 0 #073317;
  margin: 2% auto;
  position: relative;
}

.Iphone8 {
  height: 80%;
  width: 70%;
  background: linear-gradient(#584af0, #0c113d);
  border-radius: 20px;
  box-shadow: inset -5px 0 #040d2e;
  margin: 2% auto;
  position: relative;
}

.Iphone9 {
  height: 85%;
  width: 75%;
  background: linear-gradient(#6c142e, #e390c9);
  border-radius: 20px;
  box-shadow: inset -5px 0 #521e46;
  margin: 2% auto;
  position: relative;
}

.IphoneCameraHole {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 20%;
  height: 7%;
  top: 15px;
  left: 25px;
}
